body {
  font-family: 'Lora';
  color: #7F7F7F;
  background: url("../images/bolls.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  color: #7F7F7F;
}

p {
  line-height: 1.75;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

a:hover {
  color: #8AC6C6 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
  color: #7F7F7F;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.top {
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
  background-color: #8AC6C6;
}

@media (max-width: 768px) {
  .top {
    max-width: 45px;
    max-height: 45px;
  }
}

#mainNav {
  background-color: rgba(127, 127, 127, 0.9);
  font-family: 'Raleway';
  color: #7F7F7F;
}

#mainNav .navbar-brand {
  color: #8AC6C6;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #8AC6C6;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #8AC6C6;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}

.iconi {
  max-width: 45px;
  max-height: 45px;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 70%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 25%;
    margin-top: -1rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 25%;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(138, 198, 198, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

@media (max-width: 768px) {
  .mybtn {
    font-size: 0.9rem !important;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }
}

small {
  text-transform: lowercase;
  font-weight: 200;
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(138, 198, 198, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.container_contact {
  background-color: #FEB700;
  opacity: 0.9;
  color: white;
  font-size: 1.2rem;
}

.contact p {
  color: #7F7F7F;
}

.contact a {
  color: #7F7F7F;
}

.intro-button a {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .section-heading-lower {
    font-size: 2rem !important;
  }
  .contact a {
    font-size: 0.8rem;
  }
  .btn-contact {
    padding: 1.5rem 1rem 1.5rem 1rem;
  }
  .icon1 {
    max-width: 50px;
    max-height: 50px;
  }
  .icon1a {
    max-width: 45px;
    max-height: 45px;
  }
}

.icon1 {
  max-width: 70px;
  max-height: 70px;
}

.icon1a {
  max-width: 65px;
  max-height: 65px;
}

.footer {
  background-color: rgba(127, 127, 127, 0.9);
}

.text-primary {
  color: #8AC6C6 !important;
}

.bg-primary {
  background-color: #8AC6C6 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #8AC6C6;
  border-color: #8AC6C6;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #68b5b5;
  border-color: #68b5b5;
}

.font-weight-light {
  font-weight: 100 !important;
}
