.container_contact {
  background-color: #FEB700;
  opacity: 0.9;
  color: white;
  font-size: 1.2rem;
}

.contact p{
    color:$secondary;
}

.contact a{
    color:$secondary;
}

.intro-button a{
    font-size: 1.2rem;
}


@media (max-width: 768px) {

  .section-heading-lower{
      font-size: 2rem !important;
  }

  .contact a{
      font-size: 0.8rem;
    //   margin-left: -30px;
  }
}

.icon1{
    max-width: 65px;
    max-height: 65px;
}

.icon1a{
    max-width: 60px;
    max-height: 60px;
}
