.container_contact {
  background-color: #FEB700;
  opacity: 0.9;
  color: white;
  font-size: 1.2rem;
}

.contact p{
    color:$secondary;
}

.contact a{
    color:$secondary;
}

.intro-button a{
    font-size: 1.2rem;
}


@media (max-width: 768px) {

  .section-heading-lower{
      font-size: 2rem !important;
  }

  .contact a{
      font-size: 0.8rem;
    //   margin-left: -30px;
  }

  .btn-contact{
      padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .icon1{
      max-width: 50px;
      max-height: 50px;
  }

  .icon1a{
      max-width: 45px;
      max-height: 45px;
  }
}

.icon1{
    max-width: 70px;
    max-height: 70px;
}

.icon1a{
    max-width: 65px;
    max-height: 65px;
}
